<script>
import { defineComponent } from 'vue'
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
import ClassDetailControl from './Control.vue'
import ClassDetailTable from './Table.vue'

export default defineComponent({
    components: {
        DashboardLayout,
        ClassDetailControl,
        ClassDetailTable,
    },

    props: {
        classItem: {
            type: Object
        },
        invitationLink: {
            type: String
        }
    },
})
</script>

<template>
    <dashboard-layout>
        <div class="p-3">
            <div class="flex justify-between p-3 border-b">
                <h1 class="font-bold text-black">{{ classItem.subject }} Section {{ classItem.section }}</h1>
                <class-detail-control :classItem="classItem" :link="invitationLink"></class-detail-control>
            </div>
            <div class="p-5">
                <class-detail-table :registrations="classItem.registrations"></class-detail-table>
            </div>
        </div>
    </dashboard-layout>
</template>

