<script>
import { defineComponent } from 'vue'
import { Link, useForm } from '@inertiajs/inertia-vue3'

export default defineComponent({    
    components: {
        Link
    },

    data() {
        return {
            form: useForm({
                email: '',
                password: '',
            })
        }
    },

    

    methods: {
        login() {
            this.form.post('https://a-track-qajsx.ondigitalocean.app/admin/login', {
                onSuccess: () => this.form.reset('password'),
            })
        }
    }
})
</script>

<template>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4'">
        <div class="grow flex items-center justify-center">
            <img src="../../../../images/user.jpg" alt="An Illustration" width="400" height="400"/>
        </div>
        <main class="bg-white grow max-w-screen-md mx-20 p-8 md:p-12  my-10 rounded-lg shadow-2xl">
            <section>
                <h3 class="font-bold text-2xl">Welcome to A-Track!</h3>
                <p class="text-gray-600 pt-2">Sign in to your account.</p>
            </section>
            <section class="mt-10">
                
                <form class="flex flex-col" method="POST" action="#">
                    <div class="mb-6 pt-3 rounded bg-gray-200">
                        <div class="flex flex-row">
                            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
                            <label class="block text-red-700 text-sm font-bold mb-2 ml-3" for="email">*</label>
                        </div>
                        <input
                            
                            type="text"
                            id="email"
                            v-model="form.email"
                            class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3"
                            placeholder="Enter your email"
                        >
                    </div>
                    <div class="mb-6 pt-3 rounded bg-gray-200">
                        <div class="flex flex-row">
                            <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Password</label>
                            <label class="block text-red-700 text-sm font-bold mb-2 ml-3" for="email">*</label>
                        </div>
                        <input 
                            @keyup.enter="login()"
                            type="password"
                            id="password"
                            v-model="form.password"
                            class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3"
                            placeholder="Enter your password"
                        >
                    </div>
                    <!-- <div class="flex justify-end">
                        <a href="#" class="text-sm text-purple-600 hover:text-purple-700 hover:underline mb-6">Forgot your password?</a>
                    </div> -->
                    <button
                        @click="login()"
                        type="button"
                        class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
                    >
                        Sign In
                    </button>   
                    <br>
                    <Link
                        href="https://a-track-qajsx.ondigitalocean.app/admin/register"
                        as="button"
                        type="button"
                        class="border-2 border-gray-300 rounded py-2 "
                    >
                        <div class="inline-flex items-center mx-auto">
                            Create New Account
                        </div>
                    </Link>
                    <!-- <button
                        type="button"
                        class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-bold rounded py-2 mt-2 dark:focus:ring-[#4285F4]/55"
                    >
                        <a
                            href="https://a-track-qajsx.ondigitalocean.app/auth/google"
                        >
                            <div class="inline-flex items-center mx-auto">
                                <svg class="w-4 h-4 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
                                Sign in with Google
                            </div>
                        </a>
                    </button> -->
                </form>
            </section>
            
        </main>
    </div>
</template>


