<script>
import { defineComponent } from 'vue'
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
import ReportControl from './Control.vue'
import ReportTable from './Table.vue'

export default defineComponent({
    components: {
        DashboardLayout,
        ReportControl,
        ReportTable,
    },

    props: {
        classItems: {
            type: Object
        },
        attendanceData: {
            type: Object
        }
    },

    created() {
        console.log(this.attendanceData)
    }
})
</script>

<template>
    <dashboard-layout>
        <div class="p-3">
            <div class="flex justify-between p-3 border-b">
                <h1 class="font-bold text-black">Attendance Report</h1>
                <div class="flex justify-between items-center space-x-4">
                    <report-control :classItems="classItems"></report-control>
                    <button
                        @click="$refs.reportTable.tableToCSV()"
                        type="button"
                        class="text-white bg-purple-500 hover:bg-purple-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    >
                        <i class="fas fa-file-export mr-2"></i>
                        Export CSV
                    </button>
                </div>
            </div>
            <div class="p-5">
                <report-table :records="attendanceData.records" ref="reportTable"></report-table>
            </div>
        </div>
    </dashboard-layout>
</template>