<script>
import { defineComponent } from 'vue'

export default defineComponent({
    props: {
        records: Array
    },

    data() {
        return {
            thItems: [
                {
                    name: 'Name'
                },
                {
                    name: 'Email'
                },
                {
                    name: 'Total Presences'
                },
                {
                    name: 'Total Absences'
                },
            ]
        }
    },

    methods: {
        tableToCSV() {
 
            // Variable to store the final csv data
            var csv_data = [];
 
            // Get each row data
            var rows = document.getElementsByTagName('tr');
            for (var i = 0; i < rows.length; i++) {
 
                // Get each column data
                var cols = rows[i].querySelectorAll('td,th');
 
                // Stores each csv row data
                var csvrow = [];
                for (var j = 0; j < cols.length; j++) {
 
                    // Get the text data of each cell
                    // of a row and push it to csvrow
                    var currentNode = cols[j];
                    while(currentNode.firstElementChild) {

                        if (
                            currentNode.getAttribute('id') == 'profile-picture' ||
                            currentNode.getAttribute('id') == 'today-status'
                        ) {
                            currentNode = currentNode.childNodes[1];
                        } else {
                            currentNode = currentNode.firstElementChild;
                        }
                    }

                    csvrow.push(currentNode.innerHTML);
                }
 
                // Combine each column value with comma
                csv_data.push(csvrow.join(","));
            }
 
            // Combine each row data with new line character
            csv_data = csv_data.join('\n');
 
            // Call this function to download csv file 
            this.downloadCSVFile(csv_data);
        },
 
        downloadCSVFile(csv_data) {
 
            // Create CSV file object and feed
            // our csv_data into it
            var CSVFile = new Blob([csv_data], {
                type: "text/csv"
            });
 
            // Create to temporary link to initiate
            // download process
            var temp_link = document.createElement('a');
 
            // Download csv file
            temp_link.download = "records.csv";
            var url = window.URL.createObjectURL(CSVFile);
            temp_link.href = url;
 
            // This link should not be displayed
            temp_link.style.display = "none";
            document.body.appendChild(temp_link);
 
            // Automatically click the link to
            // trigger download
            temp_link.click();
            document.body.removeChild(temp_link);
        }
    }
})
</script>

<template>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th
                            v-for="item in thItems"
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                        >
                            {{ item.name }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="user in records"
                    >
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div id="profile-picture" class="flex items-center">
                                <div class="flex-shrink-0 w-10 h-10">
                                    <img class="w-full h-full rounded-full"
                                        :src="user.photo_url"
                                        alt="profile" />
                                </div>
                                <div class="ml-3">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ user.name }}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ user.email }}
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ user.totalPresences }}
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ user.totalAbsences }}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div
                class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                <span class="text-xs xs:text-sm text-gray-900">
                    Showing 1 to 4 of 50 Entries
                </span>
                <div class="inline-flex mt-2 xs:mt-0">
                    <button
                        class="text-sm text-indigo-50 transition duration-150 hover:bg-gray-400 bg-gray-500 font-semibold py-2 px-4 rounded-l">
                        Prev
                    </button>
                    &nbsp; &nbsp;
                    <button
                        class="text-sm text-indigo-50 transition duration-150 hover:bg-gray-400 bg-gray-500 font-semibold py-2 px-4 rounded-r">
                        Next
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</template>