<script>
import { defineComponent } from 'vue'
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
import Datepicker from '@vuepic/vue-datepicker'
import axios from 'axios'

export default defineComponent({
    components: {
        DashboardLayout,
        Datepicker
    },

    props: {
        classItems: {
            type: Object
        }
    },

    data() {
        return {
            filteredSections: this.classItems.data[0]['sections'],
            form: {
                subject: this.classItems.data[0]['subject'],
                section: this.classItems.data[0]['sections'][0],
                duration: ''
            },
            qrCode: '',
        }
    },

    methods: {
        subjectChanged(e) {
            let index = this.classItems.data.findIndex(item => item.subject == e.target.value)
            this.filteredSections = this.classItems.data[index]['sections']

            this.form.section = this.classItems.data[index]['sections'][0]
        },

        generate() {
            axios.post('https://a-track-qajsx.ondigitalocean.app/admin/qr-code', this.form).then(response => {
                this.qrCode = response.data.qrCode
            });
        } 
    }
})
</script>

<template>
    <dashboard-layout>
        <div class="p-3">
            <div class="p-3 border-b">
                <h1 class="font-bold text-black">Generate Qr Code</h1>
            </div>
            <div class="p-5 mx-5 md:mx-40">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 md:gap-40">
                    <form>
                        <div class="mb-6">
                            <label for="subjects" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Choose Subject</label>
                            <select
                                id="subjects"
                                v-model="form.subject"
                                @change="subjectChanged"
                                class="w-full px-2 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block">
                                    <option v-for="item in classItems.data" :value="item.subject">{{ item.subject }}</option>
                            </select>
                        </div>
                        <div class="mb-6">
                            <label for="sections" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Choose Section</label>
                            <select
                                id="sections"
                                v-model="form.section"
                                class="w-full px-2 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block">
                                    <option v-for="item in filteredSections" :value="item">{{ item }}</option>
                            </select>
                        </div>
                        <div class="mb-6">
                            <label for="class" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Set Duration</label>
                            <input
                                type="number"
                                min = "0"
                                v-model="form.duration"
                                class="w-full px-2 py-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block"
                            >
                        </div>
                        <button
                            @click="generate()"
                            type="button"
                            class="text-white bg-purple-500 hover:bg-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        >
                            Generate Now
                        </button>
                    </form>
                    <div>
                        <img
                            v-if="qrCode"
                            :src="qrCode"
                            alt="qr-code"
                        >
                        <span v-else class="text-gray-400">
                            Qr Code will be generated here...
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </dashboard-layout>
</template>
