<script>
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
import { defineComponent } from 'vue'
import ClassControl from './../Classes/Control.vue'
import ClassCard from './../Classes/Card.vue'


export default defineComponent({
    components: {
        DashboardLayout,
        ClassControl,
        ClassCard
    },
     props: {
        classItems: Array
    },
})
</script>

<template>
    <dashboard-layout>
        Home
        <div class="p-5 grid grid-cols-4 gap-4">
                <class-card v-for="item in classItems" :classItem="item"></class-card>
        </div>
    </dashboard-layout>
</template>
