<script>
import { defineComponent } from 'vue'
import BreezeModal from '@/Components/Modal.vue'
import { useForm } from '@inertiajs/inertia-vue3'

export default defineComponent({
    components: {
        BreezeModal
    },

    data() {
        return {
            showModal: false,
            formItems: [
                {
                    label: 'Subject',
                    placeholder: 'Enter subject' 
                },
                {
                    label: 'Section',
                    placeholder: 'Enter section' 
                },
            ],
            // themes: [
            //     'https://gstatic.com/classroom/themes/img_read.jpg',
            //     'https://gstatic.com/classroom/themes/img_breakfast.jpg',
            //     'https://gstatic.com/classroom/themes/Honors.jpg',
            //     'https://gstatic.com/classroom/themes/img_reachout.jpg',
            //     'https://gstatic.com/classroom/themes/img_backtoschool.jpg'
            // ],
            form: useForm({
                subject: '',
                section: ''
            })
        }
    },

    methods: {
        create() {
            this.form.post('https://a-track-qajsx.ondigitalocean.app/admin/classes', {
                onSuccess: () => {
                    this.form.reset()
                    this.showModal = false
                }
            })
        }
    }
})
</script>

<template>
    <form class="flex space-x-4">
        <button
            @click="showModal = true"
            type="button"
            class="text-white bg-purple-500 hover:bg-purple-400 font-medium rounded-lg px-5 py-2.5 text-center"
        >
            <i class="fas fa-plus mr-2"></i>
            Create
        </button>
        <breeze-modal :show="showModal" :maxWidth="'lg'">
            <form class="px-5 py-4">
                <div class="mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                    <input
                        type="text"
                        v-model="form.subject"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Enter subject"
                        required
                    >
                </div>
                <div class="mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Section</label>
                    <input
                        type="text"
                        v-model="form.section"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Enter section"
                        required
                    >
                </div>
                <div class="flex justify-end space-x-2">
                    <button
                        @click="create()"
                        type="button"
                        class="text-white bg-blue-500 hover:bg-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    >
                        Submit
                    </button>
                    <button
                        @click="showModal = false"
                        type="button"
                        class="text-white bg-gray-500 hover:bg-gray-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                    >
                        Close
                    </button>
                </div>
            </form>
        </breeze-modal>
    </form>
</template>
